<h1>cadastre seu livro</h1>
<form action="/books/insertbook" method="post" class="form">

<div class="form-control">
     <label for="title">título</label>
     <input type="text" placeholder="digite o titulo do livro" name="title">
</div>

<div class="form-control">
      <label for="nm_paginas">quantidade de páginas</label>
      <input type="text" name="nm_paginas" placeholder="numero de paginas">
</div>

<div class="form-control">
      <input type="submit" value="cadastrar">
</div>
</form>
